input {
    width: -webkit-fill-available;
    border-radius: 6px;
    border: 1px solid #cbcbcb;
    padding: 8px;
}
h2 {
    margin-bottom: 20px;
}

.wrapper {
    display: flex;
    gap: 20px;
    width: 100%;
    padding: 0 10px;

}

#toolbox {
    width: 20%;
    padding: 10px;
    background: #fff;
    border-radius: 6px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

#canvas {
    width: 80%;
    min-height: 300px;
    background: #fff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.05);
}

.widget {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 14px;
    background: #3a7b9b30;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: move;
    text-align: center;
    border: 1px dashed #3a7b9b;
}
.widgetIcon img {
    display: flex;
    width: 20px;
}

.row-wrapper {
    border: 1px dashed #ddd;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 6px;
    background: #fdfdfd;
}

.row-controls {
    text-align: left;
    margin-bottom: 5px;
    display: flex;
    justify-content: end;
}



.delete-row {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 10px;
    width: 36px;
    cursor:pointer;
}

.frow {
    display: flex;
    gap: 10px;
}

.column {
    min-height: 80px;
    background: #f9f9f9;
    border: 1px dashed #ccc;
    padding: 30px 10px 0px;
    border-radius: 4px;
    box-sizing: border-box;
    position: relative;
}

    .column .delete-column {
        position: absolute;
        top: 4px;
        left: 4px;
        background: #e53935;
        color: #fff;
        border: none;
        border-radius: 3px;
        font-size: 12px;
        cursor: pointer;
        padding: 2px 6px;
    }

.form-item {
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 8px;
    margin-bottom: 8px;
    border-radius: 4px;
    position: relative;
    gap: 10px;
    display: flex;
    flex-direction: column;
}

    .form-item .remove-widget {
        position: absolute;
        top: 5px;
        left: 5px;
        background: #ff5e5e;
        color: white;
        border: none;
        border-radius: 3px;
        padding: 2px 6px;
        font-size: 12px;
        cursor: pointer;
    }

.form-label {
    display: block;
    margin-bottom: 4px;
    font-weight: bold;
    color: #666666;
    font-size: 12px;
}

#widgetSettingsPanel {
    position: fixed;
    top: 0;
    right: -400px;
    width: 320px;
    height: 100%;
    background: #ffffff;
    border-left: 1px solid #ddd;
    box-shadow: -2px 0 8px rgba(0,0,0,0.1);
    padding: 20px;
    transition: right 0.3s ease;
    z-index: 1000;
}

    #widgetSettingsPanel input {
        width: 100%;
        margin-bottom: 10px;
        padding: 6px;
        border: 1px solid #ccc;
        border-radius: 4px;
    }
.sections {
    display: flex;
    gap: 9px;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    flex-wrap: wrap;
}

.secBtn {
    width: 30%;
    border-radius: 4px;
    border: 1px solid #999;
    text-align: center;
    padding: 2px;
    color: #4b4b4b;
    cursor:pointer;
}
button {
    width: 100px;
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
    color: #666666;
}

    button#applySettingsBtn {
        margin-top: 30px;
        width: -webkit-fill-available;
        color: #000000;
        padding: 10px;
    }

.selectLable {
    display: flex;
    flex-direction: column;
    gap: 5px;
}
#widgetInputType, #widgetButtonType {
    padding: 4px;
    border-radius: 5px;
    color: #4d4d4d;
}
.closeSettingPanel {
    display: flex;
    padding: 12px 5px;
    justify-content: end;
}

#submitForm {
    cursor: pointer;
    width: 100px;
    border: 1px solid #3a7b9b;
    background-color: #3a7b9b;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    transition:1s
}
    #submitForm:hover {
        border: 1px solid #3a7b9b;
        background-color: #fff;
        color: #3a7b9b;
    }
.formHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}
    .formHeader input {
        width: 500px;
        height: 40px;
    }

#formBuild {
    border: 1px dashed #999;
    border-radius: 5px;
    padding: 10px;
    min-height: 485px;
}