## Visual Studio files
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

## Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/

## MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*

## NuGet
*.nupkg
**/packages/*
!**/packages/build/

## Web publish profiles
PublishProfiles/
*.PublishSettings
*.pubxml
*.pubxml.user

## Others
*.log
*.cache
*.tmp